<tr>
    <td><%= gravatar_for user, size: 50 %></td>
    <td><%= link_to user.email, user %></td>
    <td><%= user.role %></td>
    <td><%= user.institution %></td>
    <td><%= user.activated? ? "yes" : "no" %></td>
</tr>

