<h1>Register new user</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <div class="alert alert-danger">
                      <%= pluralize(@user.errors.count, "error") %> 
                      prohibited this user from being created:
                    </div>
                    <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>

            <%= f.label :institution %>
            <%= f.text_field :institution %>

            <%= f.label :role %>
            <% role_array = [["Please select", ""], 
                             ["Nurse", "nurse"], 
                             ["Physician", "physician"],
                             ["Administrator", "admin"]] %>
            <%= f.select :role, options_for_select(role_array, @user.role) %>

            <%= f.submit "Create user", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
