<h1>User profile</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><%= gravatar_for @user %></td>
                <td><%= @user.email %></td>
            </tr>
            <tr>
                <td>Institution</td>
                <td><%= @user.institution %></td>
            </tr>
            <tr>
                <td>Role</td>
                <td><%= @user.role %></td>
            </tr>
            <tr>
                <td>Activated?</td>
                <td><%= @user.activated? ? "Yes" : "No" %></td>
            </tr>
        </tbody>
    </table>
</div>

<%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary" %>

<% if current_user.admin? && !current_user?(@user) %>
    <%= link_to "Delete user", @user, method: :delete,
        data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
<% end %>

