<%= render 'shared/error_messages', object: f.object %>

<%= f.label :initials %>
<%= f.text_field :initials, class: 'form-control' %>

<%= f.label :date_of_birth, "Date of Birth" %>
<%= f.date_field :date_of_birth, class: 'datepicker form-control' %>

<%= f.label :hospital_identifier %>
<%= f.text_field :hospital_identifier, class: 'form-control' %>

<%= f.label :screening_date, "Screening Date" %>
<%= f.date_field :screening_date, class: 'datepicker form-control' %>

<div class="checkbox">
    <%= f.check_box :meets_inclusion_criteria, class: 'form-control' %>
    <%= f.label :meets_inclusion_criteria %>
</div>

<%= f.label :rejection_note %>
<%= f.text_area :rejection_note, class: 'form-control' %>
