<tr>
    <td><%= link_to patient.initials, patient_path(patient) %></td>
    <td><%= patient.date_of_birth %></td>
    <td><%= patient.hospital_identifier %></td>
    <td><%= patient.screening_date %></td>
    <td><%= patient.meets_inclusion_criteria ? "Yes" : "No" %></td>
    <td><%= patient.randomized? ? "Yes" : "No" %></td>
    <% if patient.randomized? %>
        <td><%= patient.get_treatment_code %></td>
    <% end %>
</tr>

