<h1>Patients</h1>

<div class="container">
    <div class="col-md-4 pull-right">
        <%= form_tag patients_path, :method => "get" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        <% end %>
    </div>
</div>

<p>
<%= will_paginate %>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Initials</th>
                <th>Date of birth</th>
                <th>Hospital identifier</th>
                <th>Screening date</th>
                <th>Meets inclusion criteria</th>
                <th>Randomized</th>
                <th>Treatment</th>
            </tr>
        </thead>

        <tbody>
            <%= render @patients %>
        </tbody>
    </table>
</div>

<p>
<%= will_paginate %>
</p>

<div class="btn-toolbar">
    <% if !current_user.nurse? %>
        <%= link_to 'Register new patient', new_patient_path, class: "btn btn-primary" %>
    <% end %>
</div>
