<h1>Patient profile</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Initials</td>
                <td><%= @patient.initials %></td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td><%= @patient.date_of_birth %></td>
            </tr>
            <tr>
                <td>Hospital identifier</td>
                <td><%= @patient.hospital_identifier %></td>
            </tr>
            <tr>
                <td>Screening date</td>
                <td><%= @patient.screening_date %></td>
            </tr>
            <tr>
                <td>Meets inclusion criteria</td>
                <td><%= @patient.meets_inclusion_criteria %></td>
            </tr>
            <tr>
                <td>Rejection notes</td>
                <td><%= @patient.rejection_note %></td>
            </tr>
            <tr>
                <td>Screening number</td>
                <td><%= @patient.screening_number %></td>
            </tr>
            <% if @patient.randomized? %>
                <tr>
                    <td>Treatment code</td>
                    <td><%= @patient.get_treatment_code %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= link_to 'Back', patients_path, class: "btn btn-primary" %>

<% if !current_user.nurse? %>
    <% if !@patient.randomized? %>
        <%= link_to 'Edit', edit_patient_path(@patient), class: "btn btn-primary" %>

        <% if current_user.admin? %>
            <%= link_to 'Destroy', patient_path(@patient),
                method: :delete, 
                data: { confirm: 'Are you sure?' }, 
                class: "btn btn-primary" %>
        <% end %>
    <% end %>

    <% if !@patient.randomized? and @patient.meets_inclusion_criteria %>
        <%= link_to 'Randomize', randomize_patients_path(@patient), 
            data: { confirm: 'Are you sure?' }, 
            class: "btn btn-primary" %>
    <% end %>
<% end %>

