<p>
  <strong>Initials:</strong>
    <%= @patient.initials %>
</p>
 
<p>
  <strong>Date of birth:</strong>
    <%= @patient.date_of_birth %>
</p>
 
<p>
  <strong>Screening number:</strong>
    <%= @patient.screening_number %>
</p>
 
<p>
  <strong>Screening date:</strong>
    <%= @patient.screening_date %>
</p>
 
<p>
  <strong>Meets inclusion criteria:</strong>
    <%= @patient.meets_inclusion_criteria %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %>

<%= link_to 'Back', patients_path %>
